
rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    match /users/{userId} {
      allow read: if true; 
      allow create: if true;
      // Clientul NU are voie să modifice balanțele (numerele de puncte)
      allow update: if request.resource.data.diff(resource.data).affectedKeys()
        .hasOnly(['photoUrl', 'username', 'lastActive', 'deviceFingerprint', 'walletAddress', 'biometricEnabled']);
    }
    
    match /claims/{claimId} {
      // Colecția de log-uri este doar pentru citit (opțional) sau creată de server (Admin SDK)
      allow read: if false;
      allow create: if false; // Forțăm utilizarea Cloud Functions pentru securitate
    }

    match /withdrawal_requests/{reqId} {
      allow create: if true;
      allow read: if false;
    }
    
    match /campaigns/{campId} {
      allow read: if true;
      allow write: if false; 
    }

    match /hotspots/{hId} {
      allow read: if true;
      allow write: if false;
    }
  }
}
